### By Suhel
out/
data/results
downloads/

###
*.class

# experiments
data/out
data/resuls
data/results/*

data/*

# CMake
cmake-build-debug/
cmake-build-release/

# Cursive Clojure plugin
.idea/replstate.xml

.attach_*